/*GENERAL*/
a {
	text-decoration: none;
}

#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
	background: #A9F5F2;

}
img {max-width:100%;
}


/*body*/
#body{
	background: #A9F5F2;
}



/*HEADING*/
header {
	background: #0066FF;
	border-color: #04B404;
	float: left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%;

}

#logo { text-align: center;
        margin:0;}
h1,h2 {
	color:#E0F8EC; 
}
h1{
	font-family: 'Passion One', cursive;
	margin:15px 0;
	font-size: 1.9em;
	font-weight: normal;
	line-height: 0.8em;

}


/*NAVIGATION*/
nav {
	background: #2E9AFE;
}
nav a , nav a :visited{
	color:#2E2EFE;
}
/*PARA SABER EN QUE PAGINA ESTA*/
nav a.selected{
	color:#2EFE9A;
}
/*PARA QUE CAMBIE DE COLOR CUANDO PASE EL MOUSE*/
nav a:hover{
	color:#E0F8EC;
}
nav ul {
	list list-style: none;
	margin: 0 10px;
	padding: 0;
}
nav li {
	display: inline-block; /*para que el menu se ponga horizontal siempre y cuando se respete el spacio de cada blioque*/
}
nav a {
	font-weight: 800;   /*Aumentar el pesod e la fuente*/
	padding: 15px 10px;/* margenes arriba abajo 15 , dercha iz 10*/ /* PARA QUE EL AREA DEL CLICK SEA MAS GRANDE COMO UN BOTON*/

}



/*FOOTER*/

footer {
	font-size: 0.75em;
	text-align: center;
	clear: both; /* Para que no se descuadre y limpia el contenido flotante, es decir, lo mantiene en el centro*/
	padding-top: 50px;
	color: #ccc;
	background-color: #0066FF;
}




/*INDEX*/
#galeria{
	margin:0;
	padding:0;
	list-style:none;

}

#galeria li {
	float :left;
	width: 45%;
	margin:2.5%;
	background-color: #A9F5F2;
	color: #bdc3c7;
} 

#galeria li a p{
	margin: 0;
	padding: 5%;
	font-size: 0.75em;
	color: #013ADF;
}
